.footer {
  background-color: #082040;
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
  padding: 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  color: #fff;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.footer__social-heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
}

.footer__social-link {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: medium;
  display: flex;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

.footer__social-link:hover {
  opacity: 0.7;
  color: #1878dc;
}

.footer__copyright {
  color: #fff;
  margin-top: 108px;
  margin-bottom: 0;
}
