.header {
  height: 800px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.header__title-wrapper {
}

.header__title {
  max-width: 729px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-top: 183px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__title-line {
  display: block;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-left: 80px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.header__footer-hours {
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding-bottom: 10px;
}

.header__footer-address {
  display: flex;
  align-items: flex-end;
  padding-right: 40px;
}

.header__address {
  display: flex;
  justify-content: flex-end;
}
