.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: inter, arial, sans-seriff;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style: none;
  gap: 20px;
  margin-top: 30px;
  margin-right: 80px;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.header {
  height: 800px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.header__title {
  max-width: 729px;
  margin-left: 80px;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-top: 183px;
}

.header__span-accent {
  font-family: Noto-Serif;
  font-style: italic;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 646px;
  height: 568px;
}

.header__footer {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-left: 80px;
  margin-top: auto;
}

.header__info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.header__paragraph {
  margin-right: 80px;
  margin-bottom: 40px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes__title {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin-left: 80px;
  max-width: 580px;
}

.recipes__subtitle {
  color: #ffffff;
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
  margin-top: 24px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 215px;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}
.recipes__iframe-caption__type {
}

.recipes__iframe-caption__time {
}
